<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, height=device-height">
  <title>Artfolio</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/30ef029f33.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/stylesheets/post.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light navbar-transparent" id="n">
    <a class="navbar-brand" href="/artfolio"><i class="fab fa-artstation"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Logged in as <%=user.username%> </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <div class="inside">
      <h1>Create Your Bio</h1>
      <hr>
      <div class="">
        <form method="post" enctype="multipart/form-data" action="/artfolio/<%=user.id%>/bio">
          <div class="form-group one">
            <label for="u">Name</label>
            <input id="u" placeholder="Title for the work" class="form-control" type="text" name="bio[name]" required>
          </div>
          <div class="form-group two">
            <label for="p">Description</label>
            <input placeholder="Description of the work" class="form-control" id="p" name="bio[desc]" type="text">
          </div>
          <div class="form-group two">
            <label for="p">Facebook Link</label>
            <input placeholder="Description of the work" class="form-control" id="p" name="bio[fb]" type="text">
          </div>
          <div class="form-group two">
            <label for="p">Instagram Link</label>
            <input placeholder="Description of the work" class="form-control" id="p" name="bio[insta]" type="text">
          </div>
          <div class="form-group two">
            <label for="p">Email</label>
            <input placeholder="Description of the work" class="form-control" id="p" name="bio[email]" type="email">
          </div>
          <div class="form-group two">
            <label for="p">Phone</label>
            <input placeholder="Description of the work" class="form-control" id="p" name="bio[phone]" type="number">
          </div>
          <div class="container empty">
                <div class="form-group two imp">
                  <div class="f mr-2 mb-4">
                    <label for="p">Link of your work</label>
                    <input type="text" name="link[0]" placeholder="Name of the website,url of the page" id="p" class="form-control">
                  </div>
                </div>
                <span class="d-inline-block mt-4">  <button class="btn btn-small btn-success" id="clickbtn"><i class="fas fa-plus"></i></button></span>
          </div>
          <div class="form-group three">
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="customFile" name="image">
              <label class="custom-file-label" for="customFile">Profile Pic</label>
            </div>
          </div>
          <div class="row">
            <button class="btn" id="bn">Submit</button>
          </div>
        </form>
      </div>
    </div>
    <script>
    var i=1;
    function inc(){
      i++;
    }
      var btn = document.getElementById("clickbtn");
      var empty = document.getElementsByClassName("empty")[0];
      var repeat = document.getElementsByClassName("imp")[0];
      btn.addEventListener("click",(e)=>{
            e.preventDefault();
            var node = repeat.cloneNode(true);
            console.log(i);
            var cnodes = node.childNodes;
            cnodes[1].childNodes[3].setAttribute("name","link["+i+"]");
            console.log(cnodes[1].childNodes[3]);
            inc();
            empty.appendChild(node);
      })
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
</body>

</html>
