
.bioimage img{
  border-radius:50%;
  height:17vw;
  width:88%;
}

body{
  background: #FC5C7D;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #6A82FB, #FC5C7D);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #6A82FB, #FC5C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.one{
  background:white;
  border-radius: 10px;
    box-shadow: 3px 3px 30px rgba(0, 0, 0, 0.7);
}

#one{
  margin-bottom:3vw;
}

.three{
  background:white;
  border-radius: 10px;
    box-shadow: 3px 3px 30px rgba(0, 0, 0, 0.7);
}


#two{
  width:90%;
  box-sizing: border-box;
}
#main{
  width:100%;
}


#down{
  width:80%;
}

#btwo,#bone{
  margin-top:100px;;
  font-size: 1.5vw;
}

#bbtn{
   width:7vw;
   display: block;
}

/* image gallery css --important  */
.rowgrid{
  display:flex;
  flex-wrap: wrap;
  padding: 1vw 0.1vw;

}

.column {
  flex: 25%;
  max-width: 33.33%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}


@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
.i {
  position: relative;
  width: 100%;
}


.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background: #E0EAFC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.i:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 15px;
  position: absolute;
  padding-top: 5px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding-left: 5%;
  padding-right: 5%;
  box-sizing: border-box;
  word-wrap: break-word;
  width:100%;
  color:black;

}
.text h3{
  text-align: center;
}

.special{
  text-decoration: none;
  color:black;
}

.special:hover{
    text-decoration: none;
    color:grey;
}
